{% extends 'base.html'%}
{% block title %}Sign Up{% endblock %}

{% block body %}
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                                <form method="POST">
                                    <div class="form-outline mb-4">
                                        <input type="text" id="user_name" name="user_name"
                                               class="form-control form-control-lg" required minlength="1"/>
                                        <label class="form-label" for="user_name">Your Name</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" id="email" name="email"
                                               class="form-control form-control-lg" required minlength="3"/>
                                        <label class="form-label" for="email">Your Email</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="password1" name="password1"
                                               class="form-control form-control-lg" required minlength="4"/>
                                        <label class="form-label" for="password1">Password</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="password2" name="password2"
                                               class="form-control form-control-lg" required minlength="4"/>
                                        <label class="form-label" for="password2">Repeat your password</label>
                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                               id="form2Example3cg" required/>
                                        <label class="form-check-label" for="form2Example3g">
                                            Confirm registration
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                                class="btn btn-primary">
                                            Register
                                        </button>
                                    </div>
                                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                                            href="/login"
                                            class="fw-bold text-body"><u>Login
                                        here</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}